Service References/PoliceReportServices/PoliceReport1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.seattle.gov/DoIT/SPD/Services/2010/05/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.seattle.gov/DoIT/SPD/Services/2010/05/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_PoliceReportService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.seattle.gov/DoIT/SPD/Services/2010/05/Imports">
      <xsd:import schemaLocation="http://localhost:55608/PoliceReport.svc?xsd=xsd0" namespace="http://www.seattle.gov/DoIT/SPD/Services/2010/05/" />
      <xsd:import schemaLocation="http://localhost:55608/PoliceReport.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55608/PoliceReport.svc?xsd=xsd2" namespace="http://www.seattle.gov/DoIT/SPD/Services/2010/02/" />
      <xsd:import schemaLocation="http://localhost:55608/PoliceReport.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PoliceReportService_GetReportSummaryByGoNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportSummaryByGoNumber" />
  </wsdl:message>
  <wsdl:message name="PoliceReportService_GetReportSummaryByGoNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportSummaryByGoNumberResponse" />
  </wsdl:message>
  <wsdl:message name="PoliceReportService_GetReportSummariesByQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportSummariesByQuery" />
  </wsdl:message>
  <wsdl:message name="PoliceReportService_GetReportSummariesByQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportSummariesByQueryResponse" />
  </wsdl:message>
  <wsdl:message name="PoliceReportService_GetReportById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportById" />
  </wsdl:message>
  <wsdl:message name="PoliceReportService_GetReportById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByIdResponse" />
  </wsdl:message>
  <wsdl:message name="PoliceReportService_GetReportByGoNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByGoNumber" />
  </wsdl:message>
  <wsdl:message name="PoliceReportService_GetReportByGoNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByGoNumberResponse" />
  </wsdl:message>
  <wsdl:message name="PoliceReportService_GetMostRecentSummaries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMostRecentSummaries" />
  </wsdl:message>
  <wsdl:message name="PoliceReportService_GetMostRecentSummaries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMostRecentSummariesResponse" />
  </wsdl:message>
  <wsdl:portType name="PoliceReportService">
    <wsdl:operation name="GetReportSummaryByGoNumber">
      <wsdl:input wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportSummaryByGoNumber" message="tns:PoliceReportService_GetReportSummaryByGoNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportSummaryByGoNumberResponse" message="tns:PoliceReportService_GetReportSummaryByGoNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportSummariesByQuery">
      <wsdl:input wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportSummariesByQuery" message="tns:PoliceReportService_GetReportSummariesByQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportSummariesByQueryResponse" message="tns:PoliceReportService_GetReportSummariesByQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportById">
      <wsdl:input wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportById" message="tns:PoliceReportService_GetReportById_InputMessage" />
      <wsdl:output wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportByIdResponse" message="tns:PoliceReportService_GetReportById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportByGoNumber">
      <wsdl:input wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportByGoNumber" message="tns:PoliceReportService_GetReportByGoNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportByGoNumberResponse" message="tns:PoliceReportService_GetReportByGoNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMostRecentSummaries">
      <wsdl:input wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetMostRecentSummaries" message="tns:PoliceReportService_GetMostRecentSummaries_InputMessage" />
      <wsdl:output wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetMostRecentSummariesResponse" message="tns:PoliceReportService_GetMostRecentSummaries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_PoliceReportService" type="tns:PoliceReportService">
    <wsp:PolicyReference URI="#WSHttpBinding_PoliceReportService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReportSummaryByGoNumber">
      <soap12:operation soapAction="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportSummaryByGoNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportSummariesByQuery">
      <soap12:operation soapAction="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportSummariesByQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportById">
      <soap12:operation soapAction="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportByGoNumber">
      <soap12:operation soapAction="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetReportByGoNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostRecentSummaries">
      <soap12:operation soapAction="http://www.seattle.gov/DoIT/SPD/Services/2010/05/PoliceReportService/GetMostRecentSummaries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>