Service References/UserProfileServices/UserProfile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.seattle.gov/DoIT/SPD/Services/2010/05/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.seattle.gov/DoIT/SPD/Services/2010/05/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_UserProfileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.seattle.gov/DoIT/SPD/Services/2010/05/Imports">
      <xsd:import schemaLocation="http://localhost:55608/UserProfile.svc?xsd=xsd0" namespace="http://www.seattle.gov/DoIT/SPD/Services/2010/05/" />
      <xsd:import schemaLocation="http://localhost:55608/UserProfile.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserProfileService_GetByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByUserName" />
  </wsdl:message>
  <wsdl:message name="UserProfileService_GetByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="UserProfileService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="UserProfileService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="UserProfileService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UserProfileService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="UserProfileService">
    <wsdl:operation name="GetByUserName">
      <wsdl:input wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/UserProfileService/GetByUserName" message="tns:UserProfileService_GetByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/UserProfileService/GetByUserNameResponse" message="tns:UserProfileService_GetByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/UserProfileService/Add" message="tns:UserProfileService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/UserProfileService/AddResponse" message="tns:UserProfileService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/UserProfileService/Update" message="tns:UserProfileService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://www.seattle.gov/DoIT/SPD/Services/2010/05/UserProfileService/UpdateResponse" message="tns:UserProfileService_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_UserProfileService" type="tns:UserProfileService">
    <wsp:PolicyReference URI="#WSHttpBinding_UserProfileService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByUserName">
      <soap12:operation soapAction="http://www.seattle.gov/DoIT/SPD/Services/2010/05/UserProfileService/GetByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://www.seattle.gov/DoIT/SPD/Services/2010/05/UserProfileService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://www.seattle.gov/DoIT/SPD/Services/2010/05/UserProfileService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>