Service References/SsoServices/BasicProfile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.seattle.gov/DoIT/SSO/2009/06/" elementFormDefault="qualified" targetNamespace="http://www.seattle.gov/DoIT/SSO/2009/06/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetByUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetByUserNameResult" nillable="true" type="tns:BasicProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BasicProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicProfile" nillable="true" type="tns:BasicProfile" />
  <xs:element name="GetByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetByEmailResult" nillable="true" type="tns:BasicProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>